# Python
__pycache__/
*.py[cod]
*$py.class

# 环境变量和密钥
.env
.env.*

# 数据库
*.backup.db
*.db
# *.sqlite3

# 过程文件
process_files/
backup/
feishu_docs/daily_header_text.png
feishu_docs/daily_header.png
send_to_weixin/qrcode.jpg

# VS Code
.vscode/