feedparser==6.0.11
requests==2.32.4
aiofiles==24.1.0
playwright==1.54.0
readability-lxml==0.8.4.1
html2text==2025.4.15
openai==1.99.9
schedule==1.2.2
crawl4ai==0.7.3
python-dotenv==1.1.1
lark-oapi==1.4.22
pyperclip==1.9.0
pyautogui==0.9.54
# opencv-python==4.12.0.88

requests_toolbelt==1.0.0
flask==3.1.2
flask-cors==6.0.1
